<br />
<div class="box col-10 offset-1">
  <%= link_to 'preview as student...', course_path(current_course), class: 'btn btn-warning float-right' %>
  <br class="clr"/>
  <h1 class="text-center"><%= current_course.title %></h1>
  <% if current_course.image.present? %>
    <%= image_tag current_course.image.to_s, class: 'img-fluid' %>
  <% end %>
  

  <br />
  <br class="clr" />
  <div class="text-center">
    <%= link_to 'add a new section...', new_instructor_course_section_path(current_course), class: 'btn btn-success btn-lg'%>
  </div>
  <br />

  <ul>
    <% current_course.sections.each do |section| %>
      <li>
        <%= section.title %>
        <%= link_to 'new lesson', new_instructor_section_lesson_path(section), class: 'float-right btn btn-success btn-sm' %>
        <ul>
          <% section.lessons.each do |lesson| %>
            <li>
              <%= link_to lesson_path(lesson) do %>
                <b><%= lesson.title %></b>
                -
                <%= lesson.subtitle %>
              <% end %>
            </li>
          <% end %>
        </ul>
        <br class="clr" />
      </li>
    <% end %>
  </ul>
</div>