<script>
  $(function() {
    $('.lessons').sortable({
      update: function( event, ui ) {
        $.ajax({
          type: 'PUT',
          url: ui.item.data('update-url'),
          dataType: 'json',
          data: { lesson: { row_order_position: ui.item.index() } }
        });
      }
    });

    $('.sections').sortable({
      update: function(event, ui){
        $.ajax({
          type: 'PUT',
          url: ui.item.data('update-url'),
          dataType: 'json',
          data: { section: { row_order_position: ui.item.index() } }
        });
      }
    });
  });
</script>

<br />
<div class="box col-10 offset-1">
  <%= link_to 'preview as student...', course_path(current_course), class: 'btn btn-warning float-right' %>
  <br class="clr"/>
  <h1 class="text-center"><%= current_course.title %></h1>
  <% if current_course.image.present? %>
    <%= image_tag current_course.image.to_s, class: 'img-fluid' %>
  <% end %>
  

  <br />
  <br class="clr" />
  <div class="text-center">
    <%= link_to 'add a new section...', new_instructor_course_section_path(current_course), class: 'btn btn-success btn-lg'%>
  </div>
  <br />
  <br />

  <ul class="sections">
    <% current_course.sections.rank(:row_order).each do |section| %>
      <li data-update-url="<%= instructor_section_path(section) %>" class="section-li">
        <span class="fa fa-ellipsis-v"></span>
        <%= section.title %>
        <%= link_to 'new lesson', new_instructor_section_lesson_path(section), class: 'float-right btn btn-success btn-sm' %>
        <br class="clr" />
        <br class="clr" />
        <ul class="lessons">
          <% section.lessons.rank(:row_order).each do |lesson| %>
            <li data-update-url="<%= instructor_lesson_path lesson %>">
              <div class="row">
                <div class="col-1">
                  <br />
                  <span class="fa fa-ellipsis-v"></span>
                </div>
                <div class="col-11 text-center">
                <%= link_to lesson_path(lesson) do %>
                  <p>
                    <b><%= lesson.title %></b>
                  </p>
                  <p>
                    <%= lesson.subtitle %>
                  </p>
                <% end %>
                </div>
              </div>
              <br class="clr" />
            </li>
          <% end %>
        </ul>
        <br class="clr" />
      </li>
    <% end %>
  </ul>
  <br />
</div>