<br />

<div class="box col-10 offset-1">
  <h1><%= @course.title %></h1>
  <% if @course.image.present? %>
    <%= image_tag @course.image, class: 'img-fluid' %>
  <% end %>
  <br />
  <div class="row">
    <div class="col-sm-4 col-12 text-center">
      <span class="badge badge-success">
        <%= number_to_currency @course.cost %>
      </span>

      <% if current_user && current_user == @course.user %>
        <br />
        <br />
        <%= link_to 'administer', instructor_course_path(@course), class: 'btn btn-danger' %>
      <% end %>
    </div>

    <div class="col-sm-8 col-12">
      <%= @course.description %>
    </div>
  </div>

  <div class="col-12">
      <ul>
      <% @course.sections.each do |section| %>
        <div class="section">
            <li>
            <h5><%= section.title %></h5>
            <% section.lessons.each do |lesson| %>
              <div class="lesson">
                <ul>
                  <li>
                    <%= link_to lesson_path(lesson) do %>
                      <b><%= lesson.title %></b>
                      -
                      <%= lesson.subtitle %>
                  </li>
                </ul>
                <% end %>
              </div>
            <% end %>
          </li>
        </div>
      <% end %>
    </div>
  </ul>
</div>