<br />

<div class="box col-10 offset-1">
  <h1 class="text-center"><%= @course.title %></h1>
  <% if @course.image.present? %>
    <%= image_tag @course.image.to_s, class: 'img-fluid center' %>
    <hr />
  <% end %>
  <br />
  <div class="row">
    <div class="col-sm-4 col-12 text-center">
      <span class="badge badge-success">
        <%= number_to_currency @course.cost %>
      </span>

      <% if current_user && current_user == @course.user %>
        <br />
        <br />
        <%= link_to 'administer', instructor_course_path(@course), class: 'btn btn-danger' %>
      <% end %>

      <br />
      <br />

      <% if current_user %>
        <% if current_user.enrolled_in?(@course) %>
          <h3 class="badge badge-info">enrolled</h3>
        <% else %>
          <% if @course.free? %>
            <%= link_to 'enroll for free', course_enrollments_path(@course), class: 'btn btn-success', method: :post %>
          <% else %>
            <%= form_tag course_enrollments_path(@course) do %>

              <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                    data-email="<%= current_user.email %>"
                    <%# mine doesn't show the log out link? remember to resolve%>
                    data-description="<%= @course.title %> (<%= number_to_currency @course.cost %>)"
                    data-amount="<%= (@course.cost * 100).to_i %>"
                    data-label="enroll"
                    data-locale="auto"></script>
            <% end %>
          <% end %>
        <% end %>
      <% else %>
        <h3 class="badge badge-info">please sign in to enroll</h3>
      <% end %>
    </div>

    <div class="col-sm-8 col-12 text-center">
      <%= @course.description %>
    </div>
  </div>

  <div class="col-12">
      <ul class="sections">
      <% @course.sections.rank(:row_order).each do |section| %>  
        <div class="section">
            <li>
            <h3><%= section.title %></h3>
            <div class="row">
              <% section.lessons.rank(:row_order).each do |lesson| %>
                <div class="col-12 col-sm-6">
                  <div class="lesson text-center">
                    <br />
                    <%= link_to lesson_path(lesson) do %>
                      <b><%= lesson.title %></b>
                      <br />
                      <%= lesson.subtitle %>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>  
          </li>
          <br class="clr" />
        </div>
        <br />
      <% end %>
    </div>
  </ul>
</div>