<br />

<div class="box col-10 offset-1">
  <h1><%= @course.title %></h1>
  <% if @course.image.present? %>
    <%= image_tag @course.image.to_s, class: 'img-fluid' %>
  <% end %>
  <br />
  <div class="row">
    <div class="col-sm-4 col-12 text-center">
      <span class="badge badge-success">
        <%= number_to_currency @course.cost %>
      </span>

      <% if current_user && current_user == @course.user %>
        <br />
        <br />
        <%= link_to 'administer', instructor_course_path(@course), class: 'btn btn-danger' %>
      <% end %>

      <br />
      <br />

      <%if current_user && current_user.enrolled_in?(@course) %>
        <h3 class="badge badge-info">you are enrolled!</h3>
      <% else %>
        <%= link_to 'enroll', course_enrollments_path(@course), class: 'btn btn-primary', method: :post %>
      <% end %>
    </div>

    <div class="col-sm-8 col-12 text-center">
      <%= @course.description %>
    </div>
  </div>

  <div class="col-12">
      <ul>
      <% @course.sections.each do |section| %>
      <br /><br />
        <div class="section">
            <li>
            <h3><%= section.title %></h3>
            <div class="row">
              <% section.lessons.each do |lesson| %>
                <div class="col-12 col-sm-6">
                  <div class="lesson text-center">
                    <br />
                    <%= link_to lesson_path(lesson) do %>
                      <b><%= lesson.title %></b>
                      <br />
                      <%= lesson.subtitle %>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>  
          </li>
          <br class="clr" />
        </div>
      <% end %>
    </div>
  </ul>
</div>